/* line 1, /Users/jamesbrennan/development/projects/great-divide/source/css/counter.scss */
.counter {
  width: 960px;
  margin: 0 auto; }
  /* line 9, /Users/jamesbrennan/development/projects/great-divide/source/css/counter.scss */
  .counter header {
    margin: 30px 0; }
  /* line 13, /Users/jamesbrennan/development/projects/great-divide/source/css/counter.scss */
  .counter h1, .counter h2, .counter h3 {
    text-align: center;
    margin: 0;
    font-family: 'Oswald', sans-serif; }
  /* line 19, /Users/jamesbrennan/development/projects/great-divide/source/css/counter.scss */
  .counter section {
    display: block; }
    /* line 22, /Users/jamesbrennan/development/projects/great-divide/source/css/counter.scss */
    .counter section h1 {
      line-height: 180px; }
    /* line 25, /Users/jamesbrennan/development/projects/great-divide/source/css/counter.scss */
    .counter section h2 {
      font-size: 70px;
      line-height: 80px; }
    /* line 29, /Users/jamesbrennan/development/projects/great-divide/source/css/counter.scss */
    .counter section h3 {
      font-size: 40px;
      line-height: 50px; }
    /* line 34, /Users/jamesbrennan/development/projects/great-divide/source/css/counter.scss */
    .counter section.money h1 {
      font-size: 120px;
      font-family: 'PT Mono', sans-serif; }
    /* line 39, /Users/jamesbrennan/development/projects/great-divide/source/css/counter.scss */
    .counter section.death {
      padding-bottom: 30px; }
      /* line 40, /Users/jamesbrennan/development/projects/great-divide/source/css/counter.scss */
      .counter section.death h1 {
        font-size: 200px;
        font-family: 'PT Mono', sans-serif; }

/* line 49, /Users/jamesbrennan/development/projects/great-divide/source/css/counter.scss */
#resizer {
  visibility: hidden; }
