.wf-loading * {
  visibility: hidden;
}

.wf-active h1 {
}

body {
  background-color: #fff;
}

.counter {
  width: 960px;
  margin: 0 auto;

  table {
    margin: 0 auto;
  }

  header {
    margin: 5px auto;
    text-align: center;
    h1 {
      font-size: 50px;
      line-height: 60px;
      color: #666;
    }
  }

  h1, h2, h3 {
    margin: 0;
    font-family: 'Oswald', sans-serif;
  }

  section {
    display: block;
    font-family: "source-code-pro", sans-serif;
    h1 {
      line-height: 180px;
      font-family: "source-code-pro", sans-serif;
    }
    h2 {
      font-size: 90px;
      line-height: 80px;
      color: #333;
      &.children {
        font-size: 93px;
      }
    }
    h3 {
      font-size: 50px;
      line-height: 50px;
    }

    &.money {
      font-family: 'Oswald', sans-serif;
      table td {
        vertical-align: top;
      }
      .and-the {
        font-size: 53px;
        line-height: 65px;
        min-width: 385px;
        color: #7d7f3c;
      }
      .one-hundred {
        font-size: 192px;
        padding: 0 0 0 20px;
        line-height: 184px;
        font-family: 'Oswald', sans-serif;
      }
      .richest {
        font-size: 122px;
        line-height: 109px;
        vertical-align: center;
      }
      .worlds, .richest, .one-hundred {
        color: #494b24;
      }
      .people-in-the-world {
        font-size: 60px;
        line-height: 50px;
      }
      .have-aquired {
        line-height: 63px;
        font-size: 53px;
        color: #7d7f3c;
      }
      h1 {
        display: block;
        overflow: visible;
        font-size: 150px;
        line-height: 160px;
        padding-right: 70px;
        color: #7f1916;
      }
    }

    &.death {
      h1 {
        min-width: 347px;
        font-size: 230px;
        text-align: center;
        font-family: "source-code-pro", sans-serif;
      }
      #death {
        color: #7f1916;
      }
      .children {

      }
      .has {
        color: #7d7f3c;
      }
      .verb {
        padding-left: 2px;
      }
      .from-causes {
        color: #7d7f3c;
      }
      .poverty {
        color: #333;
      }
    }
  }
}

#resizer {
  visibility: hidden;
}
