section.counter
  header
    h1.since-you-have-loaded SINCE YOU HAVE LOADED THIS PAGE

  section.death
    table
      tr
        td rowspan='3'
          h1
            |
            #death
      tr
        td
          H2.children
      tr
        td
          H2.verb <span class='has'></span> DIED
    table
      tr
        td
          H3.from-causes <span class='poverty'>FROM</span> CAUSES RELATED TO <span class='poverty'>POVERTY</span>


  section.money
    table
      tr
        td.and-the WHILE THE <span class='worlds'>WORLD'S</span>
        td.one-hundred rowspan='2' 100
      tr
        td.richest RICHEST
      tr
        td.have-aquired colspan='2' HAVE GROWN THIS MUCH RICHER
    table
      tr.count
        td
          h1
            | $
            span#money
